*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
bin/
obj/
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/CommonUtils.dll
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/CommonUtils.pdb
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/ControlsBasics-WPF.exe
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/ControlsBasics-WPF.pdb
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/KinectInteraction170_32.dll
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/KinectInteraction170_64.dll
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/Microsoft.Kinect.Toolkit.Controls.dll
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/Microsoft.Kinect.Toolkit.Controls.pdb
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/Microsoft.Kinect.Toolkit.Interaction.dll
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/Microsoft.Kinect.Toolkit.dll
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/Microsoft.Kinect.Toolkit.pdb
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/ServiceCore.dll
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/ServiceCore.pdb
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/*.exe
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/*.pdb
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/*.exe
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/*.manifest
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/*.dll
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/*.pdb
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/*.dll
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/*.dll
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/*.pdb
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/*.dll
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/*.pdb
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/*.dll
/ClassService/ControlsBasics-WPF/AnyCPU.Debug/*.pdb
